.hoverTip {
    color: brown;
    text-align: center;
    height: 40px;
}

.type {
    border-bottom: 2px solid black;
    text-align: center;
}

.task-description {
    border: 2px solid rgb(86, 50, 50);
    background-color: aquamarine;
    text-align: left;
}

button.create-new {
    background-color:rgb(166, 177, 165);
    transition: background-color 0.3s ease;
}

button.create-new:hover {
    background-color: rgb(112, 127, 111);
    transition: background-color 0.3s ease;
}

button.edit {
    background-color:rgb(183, 225, 87);
    transition: background-color 0.3s ease;
}

button.edit:hover {
    background-color:rgb(12, 210, 22);
    transition: background-color 0.3s ease;
}

button.erase {
    background-color:rgb(215, 144, 76);
    transition: background-color 0.3s ease;
}

button.erase:hover {
    background-color:rgb(221, 75, 31);
    transition: background-color 0.3s ease;
}

button.edit-status {
    background-color:rgb(114, 195, 239);
    transition: background-color 0.3s ease;
}

button.edit-status:hover {
    background-color:rgb(83, 83, 228);
    transition: background-color 0.3s ease;
}

.no-resize {
    resize: vertical;
}