<h2>Create your first task!</h2>

<div class="container">
  <app-todo-tasks class="box" [todoTasks]="todoTasks" [progressTasks]="progressTasks" [testTasks]="testTasks" [doneTasks]="doneTasks"></app-todo-tasks>
  <app-progress-tasks class="box" [todoTasks]="todoTasks" [progressTasks]="progressTasks" [testTasks]="testTasks" [doneTasks]="doneTasks"></app-progress-tasks>
  <app-test-tasks class="box" [todoTasks]="todoTasks" [progressTasks]="progressTasks" [testTasks]="testTasks" [doneTasks]="doneTasks"></app-test-tasks>
  <app-done-tasks class="box" [todoTasks]="todoTasks" [progressTasks]="progressTasks" [testTasks]="testTasks" [doneTasks]="doneTasks"></app-done-tasks>
</div>